.hire{
    background-color: #000;
    color: #fff;
}

.footer-container{
    width: 50%;
    margin: 0px auto;
    padding: 20px;
    text-align: center;
    vertical-align: middle;
}

.btnn{
    color: #fff;
    border: 1px solid #fff;
}


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}